.TreeNode {
    > div {
        background: $primary2;
        color: $text;
        text-align: center;
        border-radius: 5px;
        margin: 10px;
        box-shadow: 1px 1px 2px $background;
    }
    &-data {
        padding: 10px;
        p {
            font-size: 12px;
            text-align: center;
            max-width: 100%;
            // text-overflow: ellipsis;
            word-break: wrap;
        }
        .name {
            font-size: 18px;
            margin-bottom: 10px;
        }
    }
    &-drop {
        padding: 10px;
        background-color: $primary3;
        border-radius: 5px;
        &:hover {
            padding: 0px;
            &::before {
                content: 'Drop reportees here';
                font-size: 12px;
                display: inline-block;
                width: 100%;
                text-align: center;
                padding-bottom: 5px;
                background-color: $primary3;
            }
        }
    }
}