.Tree-container {
    &.vertical {
        .TreeNode {
            > div { 
                width: 250px;
            }
        }
        .parent-marker {
            display: none;
        }
    }
    ul {
        padding: 0 30px;
    }
    &.horizontal {
        ul {
            padding: 0px;
            .TreeNode {
                width: 100%;
                padding: 10px;
                > div {
                    max-width: 200px;
                    width: 200px;
                    min-height: 100px;
                    margin: 10px auto;
                    position: relative;
                    .parent-marker {
                        // the pipe connecting node to parent
                        position: absolute;
                        top: -20px; // because length of marker is approx 19px
                        left: calc(50% - 2px);
                        color: $background;
                    }
                }
            }
            .row {
                display: flex;
                justify-content: center;
                position: relative;
                &::before {
                    content: "";
                    width: 20px;
                    height: 1px;
                    position: absolute;
                    left: calc(50% - 10px); // to center using positions, move it by <50% - half_of_width> pixels
                    top: -10px;
                    background: $background;
                    transform: rotate(90deg);
                }
                > ul {
                    position: relative;
                    &::before {
                        // horizontal line between equals on same employee levels 
                        content: '';
                        display: block;
                        width: 100%;
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        height: 1px;
                        background-color: $background;
                    }
                    &:first-of-type {
                        &::before {
                            width: 50%;
                        }
                    }
                    &:last-of-type {
                        &::before {
                            width: 50%;
                            left: 0px;
                        }
                    }
                    &:only-of-type {
                        margin: 0 auto;
                        &::before {
                            width: 0px;
                        }
                    }
                    flex-basis: 1;
                }
            }
        }
    }
}